.App {
  display: flex;
  flex-direction: row;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.chart {
  flex: 1;
  min-width: 0; 
  height: 100vh; 
}

.chart:first-child {
  flex: 4;
}

.chart:last-child {
  flex: 1;
}
