html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.charts-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  width: 100%;
  height: 100%;
}

.chart {
  width: 100%;
  height: 100%;
  min-height: 0; 
}