html, body, #root {
  height: 100%;
  margin: 0;
}

.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #202020;
}

/* .charts-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr; 
  width: 100%;
  height: 100%;
} */

.chart {
  width: 100%;
  height: 100%;
}